html, body {
    background-color: rgb(93, 93, 107);
    margin: 0;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    color: white;
}

#progress {
    font-size: 27px;
    margin: 0;
}

#qstn {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title {
    background: rgb(24, 10, 10);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

button {
    margin: 0 auto;
    display: none;
    margin-bottom: 20px;
    padding: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.nav {
    background-color: #e0007b;
    color: #ffffff;
    display: inline;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.opt {
    min-width: 20%;
    border-radius: 5px;
    margin: 10px;
    font-size: 30px;
}

.player {
    display: none;
    font-size: 20px;
    margin-top: 30px;
}

#explode {
    display: none;
    position: absolute;
}

#win {
    display: none;
}

#wintext {
    display: none;
    position: absolute;
    top: 35%;
    left: 13%;
    font-family: "Comic Sans MS";
    font-size: 80px;
    background-color: yellow;
    color: black;
}   